*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

config.php

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

/bin/

